/** @format */

@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/resets" as *;

.project-container {
  background-color: $background-dark;
}

.project {
  @include flex(column, center, center);
  max-width: 1020px;
  margin: 0 1rem;
  padding: 0 1rem 4rem 1rem;
  @include tablet {
    margin: 0 auto;
    padding: 2rem 3rem;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  display: block;
  position: relative;
  @include flex(row, center, center);
  max-width: 1020px;
  width: 100%;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
  }

  &__left {
    @include flex(row, center, center);
    width: 100%;
    position: relative;
    display: block;
  }
  &__image {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    opacity: 12%;
    @include tablet {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-column-end: 4;
      grid-row-end: 3;
    }
  }
  &__right {
    @include flex(column, space-evenly, flex-start);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0 0.5rem;
    @include tablet {
      // display: grid;
      // grid-template-columns: repeat(1, 1fr);
      position: absolute;
      grid-column-start: 2;
      // border: 1px solid red;
      padding: 0 1rem 0 1rem;

      // margin: 0 0 1rem 0;
    }
  }
  &__title {
    font-size: 20px;
    color: $text-light;
    @include tablet {
      font-size: 30px;
    }
  }
  &__name {
    font-size: 16px;
    color: $text-light-accent;
    @include tablet {
      font-size: 26px;
    }
  }
  &__information {
    font-size: 13px;
    color: $text-light;
    @include tablet {
      font-size: 23px;
    }
  }
  &__summary {
  }
  &__tech-stack {
    @include flex(row, flex-start, center);
    width: 100%;
  }
  &__tech {
    font-size: 13px;
    color: $text-light-accent;
    &:nth-child(odd) {
      padding: 0rem 0.5rem 0rem 0;
    }
    &:nth-child(even) {
      padding: 0rem 0.5rem 0rem 0;
    }
    @include tablet {
      font-size: 23px;
    }
  }
  &__links {
    @include flex(row, flex-start, center);
  }
  &__github {
    padding: 0 0.5rem 0 0;
    width: 100%;
    &-image {
      width: 100%;
      @include tablet {
        width: 3rem;
      }
    }
  }
  &__website {
    padding: 0 0 0 0.5rem;
    width: 100%;
    &-image {
      width: 100%;
      @include tablet {
        width: 3rem;
      }
    }
  }
}

// .card {
//   @include flex(column, center, flex-start);
//   background-color: $background-dark;
//   width: 100%;
//   // height: 100vh;
//   padding: 2rem 0;
//   @include tablet {
//     padding: 2rem 2rem;
//   }
//   @include desktop {
//     @include flex(row, center, center);
//   }
//   &__image {
//     width: 100%;
//     text-align: center;
//     padding: 1rem 0;
//     @include desktop {
//       padding: 0;
//     }
//   }
//   &__picture-openfashion {
//     width: 60%;
//     height: 40%;
//     @include tablet {
//       width: 50%;
//       height: 60%;
//     }
//   }
//   &__picture {
//     width: 100%;
//     height: 40%;
//     @include desktop {
//       height: 280px;
//     }
//   }
//   &__information {
//     color: $text-light;
//     padding: 1rem 0;
//     width: 100%;
//     @include desktop {
//       padding: 0 0 0 2rem;
//     }
//   }
//   &__title {
//     @include m-t-d-h4;
//   }
//   &__list {
//     @include m-t-d-text-small;
//     padding: 0.25rem 0;
//     text-decoration: none;
//   }
//   &__text {
//     text-decoration: none;
//     cursor: auto;
//   }
// }

// .stack {
//   @include flex(row, flex-start, center);
//   flex-wrap: wrap;
//   margin: 0.75rem 0 0 0;
//   padding: 0.5rem 0 1rem 0;
//   width: 100%;
//   // border-top: 1px solid $text-light-accent;
//   @include tablet {
//     @include flex(row, flex-start, center);
//   }
//   &__item {
//     @include flex(row, center, center);
//     @include m-t-d-text-small;
//     width: 5rem;
//     margin: 0.25rem 0.5rem;
//     border: 2px solid $background-button;
//     @include tablet {
//       margin: 0.25rem 1rem 0.25rem 0;
//     }
//   }
// }
// .buttons {
//   @include flex(row, space-evenly, center);
//   padding: 1rem 0;
//   @include tablet {
//     @include flex(row, flex-start, center);
//   }
//   &__live {
//     @include m-t-d-label;
//     background-color: $background-button;
//     color: $text-light;
//     padding: 0.75rem 2rem;
//     border-radius: 6px;
//     outline: none;
//     border: none;
//     &:hover {
//       background-color: $text-light;
//       color: $background-button;
//     }
//     @include tablet {
//       margin: 0 1rem 0 0;
//     }
//   }
//   &__git {
//     @include m-t-d-label;
//     padding: 0.75rem 2rem;
//     border-radius: 6px;
//     border: none;
//     outline: none;
//     background-color: $text-light;
//     color: $background-button;
//     &:hover {
//       background-color: $background-button;
//       color: $text-light;
//     }
//   }
// }
